body {
  background-color: #646c6f;
  color: #fff;
  font-family: sans-serif;
  font-size: 2rem;
}


.container {
  max-width: 1000px;
  margin: 0 auto;
}


.menu__item:first-child:hover {
	color: red;
}

