body {
  background-color:#808b8d ;
  color: #fff;
  font-family: sans-serif;
  font-size: 2rem;
}

.block {
  padding: 30px;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
	position: relative;
	display: flex;
	align-items: center;
	font-size: 55px;
}
h1::before {
	content:"";
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 30%;
	background-color: blue;
	left: -15px;
}
h1::after {
	content:"";
position: absolute;
width: 10px;
height: 10px;
border-radius: 30%;
background-color: red;
right: -15px;
}
